# Bài thực hành 01

**Yêu cầu 1.1:**
1. Đọc dữ liệu từ file Data_Patient.csv vào biến kiểu dataframe: df_patient với cột đầu tiên (id) là cột chỉ số (index_col)
2. Hiển thị thông tin tổng quan của tập dữ liệu
3. Hiển thị thông tin của 10 bệnh nhân đầu tiên và 5 bệnh nhân cuối cùng của tập dữ liệu.
4. Đặt lại tên các cột dữ liệu trong Dataframe: 
    * Feature_1 --> Age
    * Feature_2 --> Gender
    * Feature_3 --> Type
    * Feature_4 --> Blood_pressure
    * Feature_5 --> Cholesterol
    * Feature_6 --> Heartbeat
    * Feature_7 --> Thalassemia
    * Feature_8 --> Result

In [1]:
#Khai báo sử dụng thư viện
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# đọc dữ liệu từ file
path = 'Chuong_2_Phan02\Data_Excercise\Data_Patient.csv'
df_patient = pd.read_csv(path,index_col=0)
df_patient

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8
id,,,,,,,,
Patient_01,63,Male,Typical angina,145,233,150,6.0,0
Patient_02,67,Male,Asymptomatic,160,286,108,3.0,1
Patient_03,67,Male,Asymptomatic,120,229,129,7.0,1
Patient_04,37,Male,Non-anginal pain,130,250,187,3.0,0
Patient_05,41,Female,Atypical angina,130,204,172,NaN,0
...,...,...,...,...,...,...,...,...
Patient_296,59,Male,Asymptomatic,164,176,90,6.0,1
Patient_297,57,Female,Asymptomatic,140,241,123,7.0,1
Patient_298,45,Male,Typical angina,110,264,132,7.0,1
Patient_299,68,Male,Asymptomatic,144,193,141,7.0,1
Patient_300,57,Male,Asymptomatic,130,131,115,7.0,1

In [13]:
#thông tin tổng quan của tập dữ liệu
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, Patient_01 to Patient_300
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  300 non-null    int64
 1   feature_2  300 non-null    object
 2   feature_3  295 non-null    object
 3   feature_4  300 non-null    int64
 4   feature_5  300 non-null    int64
 5   feature_6  300 non-null    int64
 6   feature_7  293 non-null    float64
 7   feature_8  300 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 21.1+ KB

In [14]:
# hiển thị 10 bệnh nhân đầu
df_patient.head(10)

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8
id,,,,,,,,
Patient_01,63,Male,Typical angina,145,233,150,6.0,0
Patient_02,67,Male,Asymptomatic,160,286,108,3.0,1
Patient_03,67,Male,Asymptomatic,120,229,129,7.0,1
Patient_04,37,Male,Non-anginal pain,130,250,187,3.0,0
Patient_05,41,Female,Atypical angina,130,204,172,NaN,0
Patient_06,56,Male,Atypical angina,120,236,178,3.0,0
Patient_07,62,Female,Asymptomatic,140,268,160,3.0,1
Patient_08,57,Female,Asymptomatic,120,354,163,3.0,0
Patient_09,63,Male,Asymptomatic,130,254,147,7.0,1
Patient_10,53,Male,Asymptomatic,140,203,155,7.0,1

In [15]:
# hiển thị 5 bệnh nhân cuối cùng
df_patient.tail()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8
id,,,,,,,,
Patient_296,59,Male,Asymptomatic,164,176,90,6.0,1
Patient_297,57,Female,Asymptomatic,140,241,123,7.0,1
Patient_298,45,Male,Typical angina,110,264,132,7.0,1
Patient_299,68,Male,Asymptomatic,144,193,141,7.0,1
Patient_300,57,Male,Asymptomatic,130,131,115,7.0,1

In [19]:
# đặt lại tên cột dữ liệu trong dataframe
df_patient.rename(columns={'feature_1':'Age',
                       'feature_2':'Gender',
                       'feature_3':'Type',
                       'feature_4':'Blood_pressure',
                       'feature_5':'Cholesterol',
                       'feature_6':'Heartbeat',
                       'feature_7':'Thalassemia',
                       'feature_8':'Result'}, inplace=True)
df_patient.head()

,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
id,,,,,,,,
Patient_01,63,Male,Typical angina,145,233,150,6.0,0
Patient_02,67,Male,Asymptomatic,160,286,108,3.0,1
Patient_03,67,Male,Asymptomatic,120,229,129,7.0,1
Patient_04,37,Male,Non-anginal pain,130,250,187,3.0,0
Patient_05,41,Female,Atypical angina,130,204,172,NaN,0

**Yêu cầu 1.2:**
Sử dụng phương thức .describe() cho biết:
    
    * Thuộc tính Age:
        - Tuổi của bệnh nhân trẻ nhất
        - Tuổi của bệnh nhân già nhất
    * Thuộc tính Cholesterol:
        - Cholesterol trung bình của các bệnh nhân
        - Độ lệch chuẩn của giá trị này trong toàn bộ tập dữ liệu
    * Bao nhiêu bệnh nhân giới tính nam (Male)
    * Có bao nhiêu giá trị khác nhau của thuộc tính Type. Giá trị xuất hiện nhiều nhất là giá trị nào, bao nhiêu lần.

In [11]:
# thuộc tính Age
df_patient[['Age']].describe()

              Age
count  300.000000
mean    54.490000
std      9.032267
min     29.000000
25%     48.000000
50%     56.000000
75%     61.000000
max     77.000000

In [20]:
# thuộc tính cholesterol
df_patient[['Cholesterol']].describe()

       Cholesterol
count   300.000000
mean    247.070000
std      51.835136
min     126.000000
25%     211.000000
50%     242.500000
75%     275.250000
max     564.000000

In [22]:
df_patient[['Gender','Type']].describe()

       Gender          Type
count     300           295
unique      2             4
top      Male  Asymptomatic
freq      205           139

**Yêu cầu 1.3:**

Cho biết những cột nào trong dữ liệu có chứa missing data và số lượng missing là bao nhiêu?

In [24]:
df_patient.isnull().sum()

Age               0
Gender            0
Type              5
Blood_pressure    0
Cholesterol       0
Heartbeat         0
Thalassemia       7
Result            0
dtype: int64

**Yêu cầu 1.4:**
Hiển thị thông tin của các bệnh nhân: 
   * Bệnh nhân có index: Patient_100; Patient_150; Patient_200
   * Bệnh nhân ở vị trí 255 đến 260, với 3 thuộc tính: Age, Gender và Result

In [29]:
#Bệnh nhân có index: Patient_100; Patient_150; Patient_200
df_patient.iloc[[99,149,199],:]

,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
id,,,,,,,,
Patient_100,45,Male,Asymptomatic,115,260,185,3.0,0
Patient_150,52,Male,Typical angina,152,298,178,7.0,0
Patient_200,50,Female,Asymptomatic,110,254,159,3.0,0

In [34]:
#Bệnh nhân ở vị trí 255 đến 260, với 3 thuộc tính: Age, Gender và Result
df_patient.iloc[254:260,[0,1,7]]

             Age  Gender  Result
id
Patient_255   42  Female       0
Patient_256   67  Female       0
Patient_257   76  Female       0
Patient_258   70    Male       0
Patient_259   57    Male       1
Patient_260   44  Female       0

**Yêu cầu 1.5:**
1. Thay đổi giá trị cho thuộc tính Gender: Male --> 0, Female --> 1
2. Thay đổi giá trị cho thuộc tính Result: 0 --> No, 1 --> Yes
3. Cập nhật giá trị thuộc tính Thalassemia của bệnh nhân có index: Patient_05 bằng giá trị 4.0

In [60]:
df_patient.replace({'Male':0,
                    'Female':1,
                     0:'No',
                     1: 'Yes'
                   }, inplace=True)
df_patient.iloc[4,6] = 4.0
df_patient

,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
id,,,,,,,,
Patient_01,63.0,No,Typical angina,145.0,233.0,150.0,6.0,No
Patient_02,67.0,No,Asymptomatic,160.0,286.0,108.0,3.0,Yes
Patient_03,67.0,No,Asymptomatic,120.0,229.0,129.0,7.0,Yes
Patient_04,37.0,No,Non-anginal pain,130.0,250.0,187.0,3.0,No
Patient_05,41.0,Yes,Atypical angina,130.0,204.0,172.0,4.0,No
...,...,...,...,...,...,...,...,...
Patient_297,57.0,Yes,Asymptomatic,140.0,241.0,123.0,7.0,Yes
Patient_298,45.0,No,Typical angina,110.0,264.0,132.0,7.0,Yes
Patient_299,68.0,No,Asymptomatic,144.0,193.0,141.0,7.0,Yes
Patient_300,57.0,No,Asymptomatic,130.0,131.0,115.0,7.0,Yes
4,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN